{% assign policy = data.policy %}
{% assign grace_period = data.grace_period %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
</head>

<table width="100%" class="header">
  <tr>
    <td>
      <p class="header-contact">
        Acme Insurance Co.<br>
        33 New Montgomery St<br>
        San Francisco, CA<br>
        +1 415 555 5555<br>
        www.socotra.com
      </p>
    </td>
    <td>
      <svg width="35.658272mm" height="33.307178mm" viewBox="0 0 35.658273 33.307179" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g transform="translate(-16.653589,-40.752316)"><rect style="fill:#1984db;fill-opacity:1;stroke-width:0.191785;stroke-dasharray:none" width="35.658272" height="33.307178" x="16.653589" y="40.752316" /><text xml:space="preserve" style="font-size:7px;font-family:Arial;fill:#ffffff;fill-opacity:1;stroke-width:0.265" x="17.437286" y="50.744465"><tspan x="17.437286" y="50.744465">Acme</tspan><tspan x="17.437286" y="60.44585">Insurance</tspan><tspan x="17.437286" y="70.14724">Co.</tspan></text></g></svg>
    </td>
  </tr>
</table>

<h1>Grace Period Notification for Surety Bond Policy</h1>

Your policy numbered {{ policy.display_id }} is in the grace period due to nonpayment. The policy will lapse and coverage will end on {{ grace_period.end_timestamp | timestamp_millis_print: "d MMM YYYY" }}. To ensure continued coverage, please pay the amount due of {{ grace_period.invoice.total_due | format_number_currency: 'en', 'US' }} before the lapse date.

<p>Please call 1-555-555-5555 or log into your account to make payment and continue your coverage.

<footer>Acme - Keep your loved ones secure.</footer>
